.cards
  display: flex
  margin: 0 20px
  justify-content: flex-start
  margin-top: 20px
  flex-wrap: wrap
.card
  width: 200px
  margin: 10px
  background: #fff
  color: #424242
  text-align: center
  transition: all 500ms ease-in-out
  &:hover
    transform: scale(1.1)

.card-img
  height: fit-content

.card-img-wrap
  height: 200px
  padding: 20px
  display: flex
  align-items: center

.card-subtitle
  color: grey
  word-break: break-word
  width: 170px

.btn
  transition: all 500ms ease-in-out
  &:hover
    background-color: darken(#69f0ae, 20)
