<div *ngIf="isLoaded" class="form-wrapper">
  <div class="form-header">
    <img [src]="operator.img" class="form-header__img" />
  </div>

  <div class="form-body">
    <form
      [formGroup]="form"
      #f="ngForm"
      (ngSubmit)="fillBalance(f)"
      class="container form-container"
      fxLayout="column"
    >
      <mat-form-field>
        <mat-label>Phone number</mat-label>
        <div class="tel-input-container">
          <input
            type="tel"
            matInput
            formControlName="phone"
            name="phone"
            id="phone"
            [textMask]="{ mask: mask }"
            placeholder="+7 (999) 999-9999"
          />
        </div>
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error
          *ngIf="
            !form.get('phone').hasError('required') &&
            form.get('phone').hasError('pattern') &&
            !form.get('phone').hasError('isValidCode')
          "
        >
          <span>Invalid phone</span>
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('phone').hasError('required') &&
            form.get('phone').hasError('isValidCode')
          "
        >
          <span>Invalid operator code</span>
        </mat-error>
        <mat-error *ngIf="form.get('phone').hasError('required')">
          <span>Phone is required</span>
        </mat-error>
      </mat-form-field>

      <mat-form-field>
        <mat-label>Amount</mat-label>
        <input
          matInput
          placeholder="Amount"
          maxlength="4"
          formControlName="amount"
        />
        <mat-error
          *ngIf="
            !form.get('amount').hasError('required') &&
            form.get('amount').hasError('min')
          "
        >
          <span>Should be not more than 1₽</span>
        </mat-error>
        <mat-error
          *ngIf="
            !form.get('amount').hasError('required') &&
            form.get('amount').hasError('max')
          "
        >
          <span>Should be no less than 1000₽</span>
        </mat-error>
      </mat-form-field>

      <button
        type="submit"
        [disabled]="!form.valid"
        mat-raised-button
        color="accent"
        class="btn"
      >
        Пополнить счет
      </button>
    </form>
  </div>
</div>
<div class="spinner">
  <mat-progress-spinner
    *ngIf="!isLoaded"
    color="primary"
    mode="indeterminate"
  ></mat-progress-spinner>
</div>
